
@{
    ViewData["Title"] = "Cadastro";
}

<link rel="stylesheet" href="~/css/cadastro.css">

<main>
    <div class="cadastro-forms">
        <div class="left-part">
            <form>
                <h1>Blood4A - Cadastre-se</h1>

                <label for="email-input">Email:</label>
                <input type="email" id="email-input" placeholder="Enter your email here...">
                
                <label for="password-input">Password:</label>
                <input type="password" id="password-input" placeholder="Enter your password here...">
                
                <button type="submit">CONTINUAR</button>
            </form>
            <p>Ou <a asp-controller="Auth" asp-action="Login">clique aqui</a> para logar no sistema</p>
        </div>
        <div class="right-part">
            <img src="~/images/campanha_doe_sangue.png" alt="Imagem sobre uma campanha de doação de sangue incentivando os doadores a salvar mais vidas">
        </div>
    </div>
</main>
