
@{
    ViewData["Title"] = "Login";
}

@model LoginViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/login/login.css">
}

<main>
    <div class="login-forms">
        <div class="left-part">
            <form method="post" asp-controller="Auth" asp-action="Login">
                <h1>Blood4A - Portal de Login</h1>

                <label for="email-input">Login:</label>
                <input type="email" id="email-input" asp-for="Login" placeholder="Enter your email here...">
                <span asp-validation-for="Login" class="text-danger"></span>
                <br>

                <label for="password-input">Password:</label>
                <input type="password" id="password-input" asp-for="Password" placeholder="Enter your password here...">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br>
                <br>
                <button type="submit">ENTRAR</button>
            </form>
        </div>
        <div class="right-part">
            <img src="~/images/campanha_doe_sangue.png" alt="Imagem sobre uma campanha de doação de sangue incentivando os doadores a salvar mais vidas">
        </div>
    </div>
</main>
