[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
*.bak
*.vsd
*.vsp
*.log
*.sqlite
*.sqlite3

*.db 
*.ldf
*.mdf

appsettings.Development.json

.vs/
.vscode/
.ionide
.DS_Store
Thumbs.db

packages
**/packages/*
**/node_modules
dist