div.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.header a {
    align-items: baseline;
    text-align: center;
    vertical-align: middle;
}

div.main div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div#metas {
    margin-top: 3rem;
}

div#metas .list-group-item {
    margin-top: 0;
    margin-bottom: 0;
}