div.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.header a {
    align-items: baseline;
    text-align: center;
    vertical-align: middle;
}