@model IEnumerable<Blood4A.Domain.Clinicas>

<h2>Lista de Clínicas</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clinica in Model)
        {
            <tr>
                <td>@clinica.nome_clinica</td>
                <td>@clinica.cnpj_clinica</td>
            </tr>
        }
    </tbody>
</table>
